/**
 * ----------------------------------------------------------------------------------------
 * Reset
 * ----------------------------------------------------------------------------------------
 */ 
* {
  margin: 0;  padding: 0;  box-sizing: border-box;
}
body, html {
  height: 100%;
}
/**
 * ----------------------------------------------------------------------------------------
 * Variables
 * ----------------------------------------------------------------------------------------
 */ 
:root {
/* colors */
  --color01: #000000;
  --color02: #ffffff;
  --color03: #A0E6FE;
  --color04: #2A487B;
  --color05: #5D392B;
  --color06: #F3F67C;
  --color07: #6DC376;
  --color08: #EA2222;
  --color09: #42e9d0;
  --color10: #a6189f;
  --color11: #ffe600;
  --color12: #D5D2D2;
  --color13: #8fb6aa;
  --color14: hsl(217, 35%, 72%);

/* fonts */
  --font-h1: 3rem 'Knewave', sans-serif;
  --font-h2: 2.5rem 'Knewave', sans-serif;
  --font-h3: 2rem 'Knewave', sans-serif;
  --font-h4: 1.5rem 'Knewave', sans-serif;
  --font-h5: 1rem 'Knewave', sans-serif;
  --font-border: 2px var(--color01);

/* Border Shadow */
  --border: 3px solid var(--color01);
  --box-shadow: inset 0 1px 10px var(--color01);
  --box-shadow2: 0 5px 20px var(--color01);
}
/**
 * ----------------------------------------------------------------------------------------
 * Base
 * ----------------------------------------------------------------------------------------
 */
 h1, h2, h3, h4 { color: var(--color02); -webkit-text-stroke: var(--font-border);}

 h5 { color: var(--color02); -webkit-text-stroke: 1px var(--color01);}

 h1 {	font: var(--font-h2);}
 h2 {	font: var(--font-h2);}
 h3 {	font: var(--font-h3);}
 h4 {	font: var(--font-h4);}
 h5 {	font: var(--font-h5);}
 h6 {	font: var(--font-h6);}

/**
 * ----------------------------------------------------------------------------------------
 * Layout
 * ----------------------------------------------------------------------------------------
 */
/* Major */
 #MobilePage1, #MobilePage2, #MobilePage3, #MobilePage4, #MobilePage5, #MobilePage6, #MobilePage7, #MobilePage8 {
  background-image: linear-gradient(to bottom, var(--color03), var(--color04));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  width: 100%;
 }

 #header { margin-bottom: 2rem;}

 #main {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#footer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 1rem;
  text-align: center;
}

/* Minor */

/* Background */
.l-absolute {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.l-cloud{
  top:50px;
  z-index: -1;
}
.l-island{
  top: 425px;
  z-index: -1;
}
 
/* Menu */
.l-collumn2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.l-collumn3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  text-align: center;
  align-items: center;
  margin-top: 0.5rem;
}

/* Page 01 */ 
.btn-newgame { top: 250px;}

/* Page 02 */ 
.input { 
  position: relative;
  text-align: center;
  top: 200px;
  height: 55px;
  width: 200px;
  margin-bottom: 0.1rem;
 
  color: var(--color02);
  background-image: url('assets/image/Wood2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-text-stroke: var(--font-border);
  border: 2px solid var(--color01);
  box-shadow: var(--box-shadow2);
  font: var(--font-h4);
}

::placeholder { color: var(--color12)}

.btn-enter { top: 200px;}

/* Page 03 */
/* Page 04 */
/* Page 05 */

/* Page 06 */
.btn-weapon, .btn-shield, .btn-helmet, .btn-armor, .btn-boots, .btn-ring { margin-bottom: 1rem;}

/* Page 07 */


/* Page 08 */
.img-monster {  margin-top: 1rem;}



/**
 * ----------------------------------------------------------------------------------------
 * Module Styles
 * ----------------------------------------------------------------------------------------
 */
 
/**
 * ----------------------------------------------------------------------------------------
 * State
 * ----------------------------------------------------------------------------------------
 */

#MobilePage2, #MobilePage3, #MobilePage4, #MobilePage5, #MobilePage6, #MobilePage7, #MobilePage8 {
  display: none;
 }

 #MobilePage1.show, #MobilePage2.show, #MobilePage3.show, #MobilePage4.show, #MobilePage5.show, 
 #MobilePage6.show, #MobilePage7.show, #MobilePage8.show {
  display: block ;
}

.button:hover  {color: var(--color12)}

.button:active {transform: translateY(4px);}

.hidden { display: none  }


.btn-gameover { 
  background-position: center;
  position: absolute;
  text-align: top;
  width: 100%;
  height: 245px;
  top: 250px;
  left: 0;
  color: var(--color02);
  background-color: var(--color01);
  font: var(--font-h3);
  padding: 2rem;
}
  





.box { background-color: var(--color02);}

.bronze { background-color: var(--color09);}

.steel { background-color: var(--color10);}

.gold { background-color: var(--color11);} 







/**
 * ----------------------------------------------------------------------------------------
 * Theme
 * ----------------------------------------------------------------------------------------
 */

/* Buttons */
.button {
  background-image: url('assets/image/Wood2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  -webkit-text-stroke: var(--font-border);
  color: var(--color02);
  box-shadow: var(--box-shadow2);
  margin-top: 1rem;
}

.btn-small {
  font: var(--font-h5);
  width: 80px;
  height: 40px;
}

.btn-medium {
  font: var(--font-h4);
  width: 100px;
  height: 40px;
}

.btn-large {
  font: var(--font-h3);
  margin-bottom: 0.25rem;
  height: 55px;
  width: 200px;
}

/* Box */
.box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 0.2rem;
  width: 65px;
  height: 65px;
  border-radius: 8rem;
  background-color: var(--color13);
}

/* Bar */
.bar {
  border: var(--border);
  box-shadow: var(--box-shadow);
  width: 200px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  font: var(--font-h5);
  border-radius: 1rem;
}

.b-coin{
  background-color: var(--color06);
}

.b-hero{
  background-color: var(--color07);
}

.b-monster{
  background-color: var(--color08);
}